.contacts {
    background: $white;

    .container {
        height: 813px;
    }

    h2 {
        color: $font-gold;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        text-transform: none;
        font-weight: 500;
        font-size: 28px;
        padding-bottom: 50px;
    }

    p {
        font-weight: 300;
        font-size: 22px;
        padding-bottom: 25px;
    }

    @media(max-width:1024px) {
        .container {
            height: 614px;
        }

        img {
            width: 694px;
            height: 454px;
            object-fit: cover;
        }

        h3 {
            font-size: 24px;
            padding-bottom: 35px;
        }

        p {
            font-size: 20px;
            padding-bottom: 15px;
        }
    }

    @media(max-width:768px) {
        .container {
            height: 818px;
        }

        img {
            width: 728px;
            height: 476px;
        }

        .cards {
            flex-direction: column;
        }

        h3 {
            font-size: 20px;
            padding-bottom: 40px;
        }

        p {
            font-size: 18px;
            padding-bottom: 15px;
        }
    }
}