.explore {
    .container {
        height: 715px;
        padding: 75px 0;
    }

    .cards {
        gap: 20px;
    }

    &__text {
        p {
            color: $white;
            font-weight: 300;
            font-size: 22px;
            line-height: 175%;
            padding-bottom: 25px;
        }
    }

    .line {
        margin-top: 25px;
        margin-bottom: 75px;
    }
}