.explore {
    .container {
        height: 715px;
    }

    .cards {
        gap: 20px;
    }

    &__text {
        p {
            color: $white;
            font-weight: 300;
            font-size: 22px;
            line-height: 175%;
            padding-bottom: 25px;
        }
    }

    @media(max-width:1024px) {
        .container {
            height: 1029px;
        }

        .cards {
            flex-direction: column;
            row-gap: 62px;
        }

        p {
            font-size: 20px;
            line-height: 192%;
            padding-bottom: 0;
        }

        picture {
            display: flex;
            justify-content: center;
        }
    }

    @media(max-width:768px) {
        .container {
            height: 828px;
        }

        .cards {
            row-gap: 0;
        }

        img {
            width: 728px;
            height: 705px;
        }
    }
}