.parallax-section {
    background-image: url('../assets/img/parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100vw;
    min-width: 144rem;

    @media(max-width:768px) {
        height: 30rem;
    }
}