.tickets {
    background: $white;

    .container {
        height: 743px;
        padding: 75px 0;
        position: relative;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .cards {
        justify-content: left;
    }

    h2 {
        color: $font-gold;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        ;
        font-weight: 700;
        font-size: 28px;
        color: #000;
        letter-spacing: 0.06em;
        padding-bottom: 25px;
    }

    .line {
        margin-top: 25px;
        margin-bottom: 75px;
    }

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 25px;
        justify-content: left;
    }

    p {
        font-weight: 300;
        font-size: 22px;
        padding-left: 23px;
    }

    label {
        display: flex;
        align-items: center;
        gap: 23px;
    }

    &__buy {
        padding-bottom: 10px;

        p {
            padding-left: 0;
            padding-bottom: 15px;
        }

        padding-left: 25px
    }

    &__total {
        padding-top: 40px;
        padding-bottom: 60px;

        h3 {
            text-transform: none;
        }
    }

    &__btn {
        border-radius: 2px;
        width: 175px;
        height: 50px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__center {
        padding-left: 60px;
        padding-right: 235px;
    }

    &__right {
        display: flex;
        justify-content: right;
    }
}