.tickets{
    background: $white;
    .container{
        height: 743px;
        padding: 75px 0;
    }

    h2{
        color: $font-gold;
    }

    .line{
        margin-top: 25px;
        margin-bottom: 75px;
    }
}