.video {
    background-color: $white;

    .container {
        height: 1246px;
    }

    h2 {
        color: $font-gold;
    }

    p {
        font-weight: 300;
        font-size: 22px;
        line-height: 175%;
    }

    &__main {
        padding-top: 75px;
        padding-bottom: 40px;

        video {
            width: 1440px;
            height: 735px;
            object-fit: cover;
        }
    }

    &__slider {
        width: 452px;
        height: 254px;
        object-fit: cover;

        &__pagination {
            display: flex;
            padding-top: 40px;
            justify-content: center;
        }
    }

    @media(max-width:1024px) {
        .container {
            height: 881px;
        }

        &__main {
            padding-top: 40px;

            video {
                width: 984px;
                height: 504px;
            }
        }

        &__slider {
            width: 300px;
            height: 170px;

            &__pagination {
                padding-top: 40px;
            }
        }
    }
}