.visiting {
    background-color: $white;

    .container {
        height: 111.6rem;
    }

    picture {
        padding-bottom: 2.5rem;
    }

    h2 {
        color: $font-gold;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 44rem);
        column-gap: 6rem;
        row-gap: 7.5rem;
    }

    .card {
        width: 44rem;
        height: 42.4rem;
    }

    &__hover {
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;

        .line {
            width: 30rem;
            height: 0.2rem;
            margin: 1rem 0;
            transition: all 0.5s ease;
        }

        &:hover {
            box-shadow: 1rem 0.5rem 0.5rem $font-gold;
            border-radius: 1rem;

            img {
                border-radius: 1rem;
            }

            .line {
                width: 100%;
                background-color: $font-gold;
            }

            p {
                color: $font-gold;
                transition: color .5s ease;
            }

            h3 {
                color: $font-gold;
                transition: color .5s ease;
            }
        }
    }

    @media(max-width:1024px) {
        .container {
            height: 131.3rem;
        }

        .cards {
            grid-template-columns: repeat(2, 33rem);
            column-gap: 10.8rem;
            row-gap: 6rem;
            padding: 0 10.8rem;
        }

        .card {
            width: 33rem;
            height: 34.5rem;
        }

        img {
            width: 33rem;
            height: 21.5rem;
        }

        h3 {
            font-size: 2.8rem;
            letter-spacing: 0.11em;
        }

        p {
            font-size: 2rem;
            font-weight: 100;
        }

        &__hover {
            .line {
                width: 15rem;
            }

            &:hover {
                .line {
                    width: 33rem;
                }
            }
        }
    }

    @media(max-width: 768px) {
        .container {
            height: 114.6rem;
        }

        .card {
            width: 28rem;
            height: 30.1rem;
        }

        img {
            width: 28rem;
            height: 18rem;
        }

        .cards {
            grid-template-columns: repeat(2, 28rem);
            column-gap: 5.6rem;
            row-gap: 4rem;
            padding: 0 5.6rem;
        }

        h3 {
            font-size: 2.2rem;
            letter-spacing: 0.14em;
        }

        p {
            font-size: 1.6rem;
            font-weight: 200;
        }

        &__hover {
            &:hover {
                .line {
                    width: 28rem;
                }
            }
        }
    }

    @media(max-width: 420px) {
        .container {
            height: 207.3rem;
        }

        .card {
            width: 28rem;
            height: 29.5rem;
        }

        .cards {
            grid-template-columns: repeat(1, 28rem);
        }

        h3 {
            font-size: 1.8rem;
            letter-spacing: 0.28em;
        }

        p {
            font-weight: 100;
        }
    }
}