.welcome {
    .container {
        height: 81rem;
        background-image:
            linear-gradient(to right,
                rgba(0, 0, 0, 1) 40%,
                rgba(0, 0, 0, 0) 60%),
            url(../assets/img/0.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        position: relative;
        padding: 0;
    }

    &__btn {
        font-family: "Roboto", sans-serif;
        display: flex;
        width: 36rem;
        height: 7.5rem;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: "Forum", sans-serif;
        font-weight: 400;
        font-size: 8rem;
        line-height: 112%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 2.5rem;
        padding-top: 15rem;
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 2.8rem;
        letter-spacing: 0.07em;
        color: $white;
        padding-bottom: 7.5rem;
    }

    &__slider {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    @media (max-width: 1024px) {
        .container {
            height: 58.5rem;
            background-image:
                linear-gradient(to right,
                    rgba(0, 0, 0, 1) 10%,
                    rgba(0, 0, 0, 0) 40%),
                url(../assets/img/0.jpg);
            background-size: 70rem 52.5rem;
        }

        &__title {
            line-height: 180%;
            padding-top: 5rem;
        }

        &__text {
            padding-bottom: 5rem;
        }

        &__btn {
            width: 30rem;
            height: 6rem;
            font-size: 2rem;
            letter-spacing: 0.1em;
        }
    }

    @media (max-width: 768px) {
        .container {
            height: 86.1rem;
            background-image: url(../assets/img/0.jpg);
            background-size: 72.8rem 54.6rem;
            background-position: center bottom 10rem;
        }

        &__title {
            text-align: center;
            line-height: 180%;
            padding-top: 0;
        }

        &__text {
            text-align: center;
            padding-bottom: 0;
        }

        &__slider {
            img {
                width: 90.1rem;
                height: 9rem;
            }
        }
    }

    @media (max-width: 420px) {
        .container {
            height: 54.4rem;
            background-size: 38rem 28.5rem;
        }

        &__text {
            font-size: 1.6rem;
            letter-spacing: 0.12em;
        }
    }
}