.welcome {
    .container {
        height: 81rem; /* 810px → 81rem */
        background-image:
            linear-gradient(to right,
                rgba(0, 0, 0, 1) 40%,
                rgba(0, 0, 0, 0) 60%
            ),
            url(../assets/img/0.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        position: relative;
        padding: 0;
    }

    &__btn {
        display: flex;
        width: 36rem; /* 360px → 36rem */
        height: 7.5rem; /* 75px → 7.5rem */
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: "Forum", sans-serif;
        font-weight: 400;
        font-size: 8rem; /* 80px → 8rem */
        line-height: 112%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 2.5rem; /* 25px → 2.5rem */
        padding-top: 15rem; /* 150px → 15rem */
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 2.8rem; /* 28px → 2.8rem */
        letter-spacing: 0.07em;
        color: $white;
        padding-bottom: 7.5rem; /* 75px → 7.5rem */
    }

    &__slider {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
}